/*Spoqa Han Sans Neo*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/*Cafe24SuperMagic*/
@font-face {
  font-family: "Cafe24SuperMagic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Regular-v1.0.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24SuperMagic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
